# Environment files
.env
.env.*
!.env.example

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs & Editors
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

# PHP
.phpactor.json
.phpunit.result.cache
_ide_helper.php

# Authentication
/auth.json

# Dependencies
/node_modules
/vendor

# Build files
/public/build
/public/fonts-manifest.dev.json
/public/hot

# Storage
/public/storage
/storage/*.key
/storage/pail

# Laravel
Homestead.json
Homestead.yaml

# Debugbar
/storage/debugbar/*
!/storage/debugbar/.gitignore